.usersTable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
.usersTableH{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    color: red;
}
.actv{
    color: green;
}